body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
    color: #495057;
    overflow-x: hidden;
    align-items: center;
}

header {
    background-color: #fff;
    color: #4169E1;
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

#logo {
    font-size: 2em;
    margin: 0;
    color: #3498db;
}

nav {
    background-color: #3498db;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 60px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
    font-weight: bold;
    font-size: 1.2em;
}

footer {
    background-color: #495057;
    color: #fff;
    text-align: center;
    margin-left: 0;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}


.contact-section {
    max-width: 600px;
    margin: 0 auto; /* Centrowanie w poziomie */
    margin-top: 50px; /* Dodatkowy margines na górę */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f8f8f8;
    margin-top: 400px;
    text-align: center;
    background-color: #3498db;
}

.contact-section h2 {
    color: #f8f8f8;
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-info {
    color: #f8f8f8;
    font-size: 16px;
    margin-bottom: 10px;
}

.contact-info strong {
    color: #f8f8f8;
}
