
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: #f8f9fa;
    color: #495057;
    overflow-x: hidden;
}

header {
    background-color: #fff;
    color: #4169E1;
    text-align: center;
    padding: 1em 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
}

#logo {
    font-size: 2em;
    margin: 0;
    color: #3498db;
}

nav {
    background-color: #3498db;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 60px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
    font-weight: bold;
    font-size: 1em;
}


h1 {
    color: rgb(4, 29, 53); 
    font-size: 80px;
    text-align: center ; 
}


#panel {
    width: 400px; 
    background: #fff;
    border: 1px solid silver;
    font: 16px calibri;
    letter-spacing: -1px;
    -webkit-box-shadow: 0 0 2px silver; 
    -moz-box-shadow: 0 0 2px silver; 
    box-shadow: 0 0 2px silver;
    top: 100;
    margin: auto;
    margin-top: 250px;
    margin-bottom: 200px;
    
    }
    form {
    margin: 0;
    }
    
label {
    display: block;
    width: 260px;
    padding: 10px 20px;
    color: rgb(25, 2, 47);
    font-size: 16px;
    text-shadow: 0 0 1px silver;
    }
    
#pesel, #password {
    display: block;
    width: 360px; 
    margin: 0 auto;
    padding: 10px 5px;
    border: 1px solid silver;
    outline: 5px solid #ebebeb;
    font-size: 22px;
    }
    #username:focus, #password:focus {
    outline: 5px solid #e5f2f8;
    }
    
#lower {
    background: #ecf2f5;
    width: 360px;
    padding: 5px 20px;
    margin-top: 20px;
    }
    .check {
        display: inline;
        float: none;
        font-size: 11px;
        padding: 5px;
        }
        input[type="submit"] {
        width: 70px;
        padding: 5px 13px;
        border: 1px solid #06090a;
        color: white;
        text-shadow: 0 0 1px black;
        background: #031b24;
        position: relative;
        left: 200px;
        
        }
        
#panel, input[type="submit"] {
    -webkit-border-radius: 5px; 
    -moz-border-radius: 5px; 
    border-radius: 5px;
}

a {
    display: inline;
    float: none;
    font-size: 14px;
    padding: 3px;
    color: rgb(50, 47, 47);
}
footer {
    background-color: #495057;
    color: #fff;
    text-align: center;
    margin-left: 0;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}