body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Styl nagłówka */
header {
    background-color: #3498db;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

/* Styl nawigacji */
nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Styl przycisku "Zaloguj się" */
#zaloguj {
    background-color: #03374b;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

#zaloguj:hover {
    background-color: #2b35c0;
}

