<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medica BARP</title>
    <link rel="stylesheet" href="../static/kontakt.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iKt6Uj+JF22t8zR0UqSK10Ee7yH3d6ZegxzUhoMq7f/PPN0lPFv2Mz9q" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/bootstrap-icons.css"> <!-- Ścieżka do lokalnej kopii Bootstrap Icons -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

    <header>
        <h1 id="logo">Medica BARP</h1>
    </header>

    <nav>
        <a href="{{url_for("dashboard")}}">Strona Główna</a>
        <a href="{{url_for("offer")}}">Oferta</a>
        <a href="{{url_for("doctor")}}">Lekarze</a>
        <a href="{{url_for("date")}}">Wizyta</a>
        <a href="{{url_for("contact")}}">Kontakt</a>
        <a href="{{url_for("login")}}" class="login-button">Zaloguj się</a>
    </nav>

    <section>

        <div class="contact-section">
            <h2>Kontakt</h2>
            <p class="contact-info"><strong>Nazwa firmy:</strong> Medica BARP</p>
            <p class="contact-info"><strong>Adres:</strong> ul. Fikcyjna 123, 00-000 Warszawa</p>
            <p class="contact-info"><strong>Telefon:</strong> +48 123 456 789</p>
            <p class="contact-info"><strong>Email:</strong> kontakt@medicabarp.pl</p>
        </div>
    </section>

    <footer>
        &copy; 2023 Medica BARP. Wszelkie prawa zastrzeżone.
    </footer>

</body>
</html>
