<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medica BARP</title>
    <link rel="stylesheet" href="static/lekarze.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iKt6Uj+JF22t8zR0UqSK10Ee7yH3d6ZegxzUhoMq7f/PPN0lPFv2Mz9q" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/bootstrap-icons.css"> <!-- Ścieżka do lokalnej kopii Bootstrap Icons -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

    <header>
        <h1 id="logo">Medica BARP</h1>

    </header>

    <nav>
        <a href="{{url_for("dashboard")}}">Strona Główna</a>
        <a href="{{url_for("offer")}}">Oferta</a>
        <a href="{{url_for("doctor")}}">Lekarze</a>
        <a href="{{url_for("contact")}}">Kontakt</a>
        {% if user %}
            <a href="{{url_for("date")}}">Wizyta</a>
            <p style="color: red;">{{ user }}!</p>
            <a href="{{url_for("logout")}}">Wyloguj się</a>
        {% else %}
            <a href="{{url_for("login")}}" class="login-button">Zaloguj się</a>
        {% endif %}
    </nav>
    <section>
        <h2>Nasi lekarze</h2>
        
        <div class="lekarz">
            <img src="static/Images/lekarz 1 M.jpg" alt="Zdjęcie lekarza 1">
            <h3>Dr. Adam Nowak</h3>
            <p>Dr Adam Nowak, Kardiolog

Wykształcenie i Doświadczenie:
Dr Adam Nowak jest wybitnym specjalistą w dziedzinie kardiologii, posiadającym wieloletnie doświadczenie w diagnozowaniu i leczeniu chorób serca. Ukończył medycynę na renomowanej uczelni w Polsce, specjalizując się w kardiologii. Uczestniczył w licznych szkoleniach i konferencjach międzynarodowych, zdobywając wiedzę na temat najnowszych technik i metod leczenia.

Specjalizacja:
Dr Nowak specjalizuje się w diagnostyce i leczeniu szerokiego zakresu schorzeń sercowo-naczyniowych, w tym niewydolności serca, arytmii, choroby wieńcowej oraz nadciśnienia tętniczego. Posiada także doświadczenie w przeprowadzaniu zabiegów interwencyjnych, takich jak angioplastyka.

Filozofia Leczenia:
Dr Nowak podchodzi do każdego pacjenta indywidualnie, koncentrując się na kompleksowej opiece i dostosowaniu planu leczenia do unikalnych potrzeb i warunków zdrowotnych każdej osoby. Wierzy w ważność edukacji pacjentów jako części procesu leczenia i poświęca czas na wyjaśnienie wszystkich aspektów ich schorzeń oraz dostępnych opcji terapeutycznych.

Zaangażowanie w Rozwój Medycyny:
Aktywnie uczestniczy w badaniach naukowych dotyczących nowoczesnych metod leczenia chorób serca. Jego prace były publikowane w prestiżowych czasopismach medycznych, a on sam jest często zapraszany jako ekspert na konferencje medyczne.

Kontakt i Konsultacje:
Dr Adam Nowak przyjmuje pacjentów w [Nazwa Kliniki], zapewniając dostęp do nowoczesnych technologii diagnostycznych i terapeutycznych. Konsultacje można umawiać telefonicznie lub przez formularz kontaktowy na stronie kliniki.</p>
        </div>

        <div class="lekarz">
            <img src="static/Images/lekarz 6 K.jpg" alt="Zdjęcie lekarza 2">
            <h3>Dr. Ewa Kowalska</h3>
            <p>Krótki opis lekarza Anna Nowak.</p>
        </div>

        <div class="lekarz">
            <img src="static/Images/lekarz 8 M.jpg" alt="Zdjęcie lekarza 1">
            <h3>Dr. Marek Wójcik/h3>
            <p>"Doktor Anna Nowak to doświadczony kardiolog z pasją do zdrowego serca. Jej bogate doświadczenie w leczeniu chorób serca i naczyń krwionośnych sprawia, że jest wyjątkowym specjalistą w dziedzinie kardiologii. Jej troska o pacjentów, empatia i zaangażowanie w zapobieganie chorobom serca stanowią fundament jej praktyki lekarskiej. Zawsze otwarta na najnowsze technologie i metody leczenia, Dr. Nowak skupia się na holistycznym podejściu do opieki zdrowotnej, starając się nie tylko leczyć dolegliwości, ale także wspierać pacjentów w prowadzeniu zdrowego stylu życia.".</p>
        </div>

        <div class="lekarz">
            <img src="static/Images/lekarz 2 K.jpg" alt="Zdjęcie lekarza 1">
            <h3>Dr. Anna Lis</h3>
            <p>Krótki opis lekarza Jan Kowalski.</p>
        </div>

        <div class="lekarz">
            <img src="static/Images/lekarz 5 M.jpg" alt="Zdjęcie lekarza 1">
            <h3>Dr. Jan Kaczor</h3>
            <p>Krótki opis lekarza Jan Kowalski.</p>
        </div>

        <div class="lekarz">
            <img src="static/Images/Lekarz 7 K.jpg" alt="Zdjęcie lekarza 1">
            <h3>Dr. Karolina Jankowska</h3>
            <p>Krótki opis lekarza Jan Kowalski.</p>
        </div>

        <div class="lekarz">
            <img src="static/Images/Lekarz 3 M.jpg" alt="Zdjęcie lekarza 1">
            <h3>Dr. Piotr Wiśniewski</h3>
            <p>Krótki opis lekarza Jan Kowalski.</p>
        </div>

        <div class="lekarz">
            <img src="static/Images/Lekarz 4 K.jpg" alt="Zdjęcie lekarza 1">
            <h3>Dr. Alicja Duda</h3>
            <p>Krótki opis lekarza Jan Kowalski.</p>
        </div>
    </section>

    <div class="cta">
        <h2>Zacznij pozyskiwać pacjentów już dziś!</h2>
        <p>Prowadzisz własny gabinet lub placówkę i szukasz nowych pacjentów?</p>
        <p>Dotrzyj do pacjentów, którzy szukają specjalistów w Twojej okolicy. Pozwól im zapisać się na wizytę o każdej porze dnia i nocy. Koniec z czekaniem na otwarcie recepcji. Zbuduj reputację w Internecie pozyskując wiarygodne opinie.</p>
    </div>

    <footer>
        &copy; 2023 Medica BARP. Wszelkie prawa zastrzeżone.
    </footer>

</body>
</html>
