<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Medica BARP</title>
    <link rel="stylesheet" href="static/lekarze.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.7.0/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iKt6Uj+JF22t8zR0UqSK10Ee7yH3d6ZegxzUhoMq7f/PPN0lPFv2Mz9q" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/bootstrap-icons.css"> <!-- Ścieżka do lokalnej kopii Bootstrap Icons -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

    <header>
        <h1 id="logo">Medica BARP</h1>

    </header>

    <nav>
        <a href="{{url_for("dashboard")}}">Strona Główna</a>
        <a href="{{url_for("offer")}}">Oferta</a>
        <a href="{{url_for("doctor")}}">Lekarze</a>
        <a href="{{url_for("contact")}}">Kontakt</a>
        {% if user %}
            <a href="{{url_for("date")}}">Wizyta</a>
            <p style="color: red;">{{ user }}!</p>
            <a href="{{url_for("logout")}}">Wyloguj się</a>
        {% else %}
            <a href="{{url_for("login")}}" class="login-button">Zaloguj się</a>
        {% endif %}
    </nav>
    <section>
        <h2>Nasi lekarze</h2>
        
        <div class="lekarz">
            <img src="static/Images/lekarz 1 M.jpg" alt="Zdjęcie lekarza 1">
            <h3></h3>
            <p>Dr Adam Nowak jest wybitnym specjalistą w dziedzinie kardiologii, posiadającym wieloletnie doświadczenie w diagnozowaniu i leczeniu chorób serca. Ukończył medycynę na renomowanej uczelni w Polsce, specjalizując się w kardiologii. Uczestniczył w licznych szkoleniach i konferencjach międzynarodowych, zdobywając wiedzę na temat najnowszych technik i metod leczenia.
Dr Nowak specjalizuje się w diagnostyce i leczeniu szerokiego zakresu schorzeń sercowo-naczyniowych, w tym niewydolności serca, arytmii, choroby wieńcowej oraz nadciśnienia tętniczego. Posiada także doświadczenie w przeprowadzaniu zabiegów interwencyjnych, takich jak angioplastyka.
Dr Nowak podchodzi do każdego pacjenta indywidualnie, koncentrując się na kompleksowej opiece i dostosowaniu planu leczenia do unikalnych potrzeb i warunków zdrowotnych każdej osoby. Wierzy w ważność edukacji pacjentów jako części procesu leczenia i poświęca czas na wyjaśnienie wszystkich aspektów ich schorzeń oraz dostępnych opcji terapeutycznych.
Aktywnie uczestniczy w badaniach naukowych dotyczących nowoczesnych metod leczenia chorób serca. Jego prace były publikowane w prestiżowych czasopismach medycznych, a on sam jest często zapraszany jako ekspert na konferencje medyczne.
Dr Adam Nowak przyjmuje pacjentów w [Nazwa Kliniki], zapewniając dostęp do nowoczesnych technologii diagnostycznych i terapeutycznych. Konsultacje można umawiać telefonicznie lub przez formularz kontaktowy na stronie kliniki.
</p>
        </div>

        <div class="lekarz">
            <img src="static/Images/lekarz 6 K.jpg" alt="Zdjęcie lekarza 2">
            <h3></h3>
            <p>Dr Ewa Kowalska jest cenionym specjalistą w dziedzinie dermatologii, z wieloletnim doświadczeniem w diagnozowaniu i leczeniu chorób skóry. Ukończyła studia medyczne z wyróżnieniem na jednej z wiodących uczelni medycznych w Polsce, następnie specjalizując się w dermatologii. Regularnie uczestniczy w krajowych i międzynarodowych konferencjach dermatologicznych, poszerzając swoją wiedzę i umiejętności.
Dr Kowalska specjalizuje się w diagnostyce i leczeniu szerokiego zakresu schorzeń skórnych, w tym trądziku, egzemy, łuszczycy, zakażeń skórnych oraz chorób skóry związanych z wiekiem. Posiada również doświadczenie w nowoczesnych technikach dermatologicznych, takich jak dermatoskopia, terapie laserowe i minimalnie inwazyjne procedury estetyczne.
Dr Kowalska podchodzi do każdego pacjenta indywidualnie, koncentrując się na holistycznym podejściu do leczenia. Uważa, że dokładna diagnoza i spersonalizowany plan leczenia są kluczowe dla efektywnej terapii. Wielką wagę przykłada do edukacji pacjentów, pomagając im zrozumieć przyczyny i charakter ich schorzeń skórnych oraz znaczenie odpowiedniej pielęgnacji.
Kowalska jest aktywna w środowisku naukowym, uczestnicząc w badaniach dotyczących innowacyjnych terapii skórnych. Regularnie publikuje swoje prace w renomowanych czasopismach dermatologicznych i jest zapraszana jako ekspertka na sympozja medyczne.
Dr Ewa Kowalska przyjmuje pacjentów w [Nazwa Kliniki], gdzie pacjenci mają dostęp do zaawansowanych metod diagnostycznych i terapeutycznych. Wizyty można umówić telefonicznie lub online poprzez formularz na stronie kliniki.
</p>
        </div>

        <div class="lekarz">
            <img src="static/Images/lekarz 8 M.jpg" alt="Zdjęcie lekarza 1">
            <h3>/h3>
            <p>"Dr Marek Wójcik jest doświadczonym specjalistą w dziedzinie ortopedii, znany z umiejętności diagnozowania i leczenia szerokiego zakresu schorzeń układu mięśniowo-szkieletowego. Ukończył medycynę na prestiżowej polskiej uczelni, po czym specjalizował się w ortopedii i traumatologii. Posiada bogate doświadczenie zdobyte zarówno w Polsce, jak i podczas staży zagranicznych.
Dr Wójcik specjalizuje się w leczeniu urazów sportowych, chorób stawów, jak również w procedurach związanych z endoprotezoplastyką stawu biodrowego i kolanowego. Ma również doświadczenie w minimalnie inwazyjnych technikach operacyjnych, które przyczyniają się do szybszego powrotu pacjentów do pełnej sprawności.
Dr Wójcik podchodzi do każdego pacjenta z indywidualnym zainteresowaniem, koncentrując się na dostarczeniu holistycznej i skutecznej opieki. Wierzy w ważność precyzyjnej diagnozy i spersonalizowanego planu leczenia, uwzględniającego zarówno fizyczne, jak i psychologiczne aspekty rekonwalescencji.
Aktywnie uczestniczy w badaniach naukowych skoncentrowanych na nowych technikach operacyjnych i metodach leczenia w ortopedii. Jego prace i wyniki badań były prezentowane na licznych konferencjach medycznych.
Dr Marek Wójcik przyjmuje pacjentów w [Nazwa Kliniki], oferując dostęp do zaawansowanych opcji leczenia ortopedycznego. Konsultacje można umówić telefonicznie lub za pośrednictwem formularza kontaktowego dostępnego na stronie internetowej kliniki.
</p>
        </div>

        <div class="lekarz">
            <img src="static/Images/lekarz 2 K.jpg" alt="Zdjęcie lekarza 1">
            <h3></h3>
            <p>Dr Anna Lis to wysoce wykwalifikowana specjalistka w dziedzinie neurologii, posiadająca bogate doświadczenie w diagnozowaniu i leczeniu schorzeń układu nerwowego. Ukończyła medycynę na renomowanej polskiej uczelni, gdzie później uzyskała specjalizację z neurologii. Posiada również doświadczenie międzynarodowe, zdobyte dzięki udziałowi w programach wymiany naukowej i stażach zagranicznych.
Dr Lis specjalizuje się w diagnozowaniu i leczeniu szerokiej gamy zaburzeń neurologicznych, w tym choroby Alzheimera, stwardnienia rozsianego, padaczki, migren i innych bólów głowy, a także zaburzeń ruchowych. Ma także doświadczenie w neurologii interwencyjnej oraz w zaawansowanych metodach diagnostycznych, takich jak elektroencefalografia (EEG) i rezonans magnetyczny (MRI).
Dr Lis podchodzi do każdego pacjenta z empatią i zaangażowaniem, dążąc do zapewnienia kompleksowej i indywidualnie dopasowanej opieki. Wierzy w znaczenie edukacji pacjentów i ich rodzin w zakresie rozumienia i radzenia sobie z chorobami neurologicznymi.
Jest aktywną uczestniczką w konferencjach medycznych i warsztatach, gdzie dzieli się swoimi doświadczeniami i wynikami badań. Regularnie publikuje artykuły w prestiżowych czasopismach neurologicznych, przyczyniając się do rozwoju wiedzy w tej dziedzinie.
Dr Anna Lis przyjmuje pacjentów w [Nazwa Kliniki], gdzie stosuje najnowsze protokoły diagnostyczne i terapeutyczne. Umówienie wizyty jest możliwe telefonicznie lub poprzez formularz kontaktowy na stronie kliniki.
</p>
        </div>

        <div class="lekarz">
            <img src="static/Images/lekarz 5 M.jpg" alt="Zdjęcie lekarza 1">
            <h3></h3>
            <p>Dr Jan Kaczor jest doświadczonym ginekologiem, który ukończył studia medyczne na prestiżowej polskiej uczelni, a następnie specjalizował się w ginekologii i położnictwie. Posiada wieloletnie doświadczenie w pracy w szpitalach i klinikach, gdzie zdobywał praktyczne umiejętności w zakresie opieki nad kobietami w każdym wieku.
Dr Kaczor specjalizuje się w szerokim spektrum opieki ginekologicznej, w tym w diagnostyce i leczeniu zaburzeń menstruacyjnych, menopauzy, infekcji narządów płciowych oraz w prowadzeniu ciąży. Ma również doświadczenie w nowoczesnych metodach antykoncepcyjnych oraz w diagnostyce i leczeniu niepłodności.
Dr Kaczor podchodzi do każdej pacjentki z indywidualną uwagą, skupiając się na zapewnieniu kompleksowej, empatycznej i delikatnej opieki. Wierzy w ważność edukacji i otwartej komunikacji z pacjentkami, pomagając im w zrozumieniu ich stanu zdrowia i dostępnych opcji leczenia.
Aktywnie uczestniczy w konferencjach medycznych i szkoleniach, stale poszerzając swoją wiedzę i umiejętności. Jest również autorem licznych publikacji dotyczących ginekologii, które pojawiały się w renomowanych czasopismach medycznych.
Dr Jan Kaczor przyjmuje pacjentki w [Nazwa Kliniki], oferując dostęp do nowoczesnych technologii diagnostycznych i terapeutycznych. Wizyty można umawiać telefonicznie lub za pośrednictwem formularza kontaktowego na stronie kliniki.
</p>
        </div>

        <div class="lekarz">
            <img src="static/Images/Lekarz 7 K.jpg" alt="Zdjęcie lekarza 1">
            <h3></h3>
            <p>Dr Karolina Jankowska to szanowana i doświadczona pediatra, która ukończyła studia medyczne na renomowanej polskiej uczelni. Po zdobyciu dyplomu z wyróżnieniem, kontynuowała swoją edukację specjalizując się w pediatrii. Ma bogate doświadczenie zarówno w pracy szpitalnej, jak i ambulatoryjnej, gdzie zdobyła praktyczną wiedzę w zakresie szerokiego spektrum schorzeń dziecięcych.
Dr Jankowska specjalizuje się w holistycznej opiece nad dziećmi od niemowlęctwa do późnego wieku młodzieńczego. Skupia się na profilaktyce, diagnozowaniu i leczeniu powszechnych schorzeń wieku dziecięcego, takich jak infekcje, alergie, zaburzenia wzrostu i rozwoju. Posiada również doświadczenie w obszarze pediatrii rozwojowej i behawioralnej.
Dr Jankowska podchodzi do każdego małego pacjenta z ciepłem i empatią, dążąc do stworzenia bezpiecznej i przyjaznej atmosfery podczas wizyt. Wierzy w ważność edukacji rodziców oraz w aktywne zaangażowanie ich w proces leczenia i opieki nad dzieckiem.
Jest członkinią różnych organizacji pediatrycznych i regularnie uczestniczy w konferencjach medycznych, aby być na bieżąco z najnowszymi osiągnięciami w pediatrii. Dr Jankowska jest również autorką artykułów na temat zdrowia dzieci, publikowanych w fachowych czasopismach.
Dr Karolina Jankowska przyjmuje młodych pacjentów w [Nazwa Kliniki], oferując kompleksową opiekę medyczną opartą na najnowszych badaniach w dziedzinie pediatrii. Umówienie wizyty jest możliwe telefonicznie lub przez formularz kontaktowy na stronie kliniki.
</p>
        </div>

        <div class="lekarz">
            <img src="static/Images/Lekarz 3 M.jpg" alt="Zdjęcie lekarza 1">
            <h3></h3>
            <p>Dr Piotr Wiśniewski to doświadczony chirurg, który ukończył studia medyczne z wyróżnieniem na jednej z czołowych polskich uczelni medycznych. Po zdobyciu specjalizacji w chirurgii ogólnej, dr Wiśniewski kontynuował rozwój swoich umiejętności, uczestnicząc w licznych szkoleniach i kursach zarówno w Polsce, jak i za granicą.
Dr Wiśniewski specjalizuje się w szerokim zakresie procedur chirurgicznych, w tym w chirurgii laparoskopowej, chirurgii onkologicznej oraz w zabiegach małoinwazyjnych. Jego doświadczenie obejmuje również chirurgię urazową i rekonstrukcyjną, co pozwala na kompleksową opiekę nad pacjentami z różnymi schorzeniami i urazami.
Dr Wiśniewski podchodzi do każdego przypadku z pełnym zaangażowaniem, skupiając się na dostarczeniu pacjentom najlepszej możliwej opieki medycznej. Wierzy w indywidualne podejście do pacjenta i w znaczenie precyzyjnej diagnostyki oraz planowania operacji, co jest kluczem do skutecznego leczenia i szybkiego powrotu do zdrowia.
Dr Wiśniewski jest aktywnym uczestnikiem środowiska medycznego, regularnie uczestnicząc w konferencjach i sympozjach chirurgicznych. Jego prace badawcze i kliniczne są często publikowane w prestiżowych czasopismach medycznych.
Dr Piotr Wiśniewski przyjmuje pacjentów w [Nazwa Kliniki], gdzie wykorzystuje najnowocześniejsze technologie i metody leczenia chirurgicznego. Wizyty można umówić telefonicznie lub przez formularz kontaktowy na stronie internetowej kliniki.
</p>
        </div>

        <div class="lekarz">
            <img src="static/Images/Lekarz 4 K.jpg" alt="Zdjęcie lekarza 1">
            <h3></h3>
            <p>Dr Alicja Duda jest wykwalifikowaną i doświadczoną internistką, która ukończyła studia medyczne na renomowanej polskiej uczelni. Po zdobyciu specjalizacji w medycynie wewnętrznej, kontynuowała swoją edukację, uczestnicząc w wielu kursach i szkoleniach, co pozwoliło jej na pogłębienie wiedzy w różnych dziedzinach interny.
Dr Duda specjalizuje się w diagnozowaniu i leczeniu szerokiego zakresu schorzeń wewnętrznych, takich jak choroby serca, cukrzyca, choroby tarczycy, oraz zaburzenia metaboliczne. Posiada również doświadczenie w zakresie geriatrii, skupiając się na holistycznej opiece nad pacjentami w starszym wieku.
Dr Duda przykłada wielką wagę do kompleksowego podejścia do pacjenta, starając się zrozumieć wszystkie aspekty jego stanu zdrowia. Wierzy w znaczenie profilaktyki i edukacji zdrowotnej, pomagając pacjentom w podejmowaniu decyzji dotyczących ich stylu życia i leczenia.
Dr Duda jest aktywną uczestniczką środowiska medycznego, uczestnicząc regularnie w konferencjach i warsztatach medycznych. Jest również autorką artykułów na temat medycyny wewnętrznej, publikowanych w specjalistycznych czasopismach.
Dr Alicja Duda przyjmuje pacjentów w [Nazwa Kliniki], gdzie oferuje kompleksowe konsultacje i leczenie internistyczne. Umówienie wizyty jest możliwe telefonicznie lub poprzez formularz kontaktowy na stronie internetowej kliniki.
</p>
        </div>
    </section>

    <div class="cta">
        <h2>Zacznij pozyskiwać pacjentów już dziś!</h2>
        <p>Prowadzisz własny gabinet lub placówkę i szukasz nowych pacjentów?</p>
        <p>Dotrzyj do pacjentów, którzy szukają specjalistów w Twojej okolicy. Pozwól im zapisać się na wizytę o każdej porze dnia i nocy. Koniec z czekaniem na otwarcie recepcji. Zbuduj reputację w Internecie pozyskując wiarygodne opinie.</p>
    </div>

    <footer>
        &copy; 2023 Medica BARP. Wszelkie prawa zastrzeżone.
    </footer>

</body>
</html>
