<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="C:\Users\ostro\OneDrive\Pulpit\logowanie.css">
    <title>Formularz logowania i rejestracji wizyty</title>
</head>
<body>
    
<form class="form-login">
    <div id="panel">
        <form>
        <label for="username">Imię Nazwisko:</label>
        <input type="text" id="username" name="username">
        <label for="password">Hasło:</label>
        <input type="password" id="password" name="password">
        <div id="lower">
        <input type="checkbox"><label class="check" for="checkbox">Zapamiętaj mnie!</label>
        <a href="">Rejestracja</a>
        <input type="submit" value="Login">
        </div>
        </form>
        </div>
</form>
</body>
</html>
