<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/rejestracja_konta.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Rejestracja Konta</title>
</head>
<body>

    <header>
        <h1 id="logo">Medica BARP</h1>

    </header>
    <nav>
        <a href="{{url_for("dashboard")}}">Strona Główna</a>
        <a href="{{url_for("offer")}}">Oferta</a>
        <a href="{{url_for("doctor")}}">Lekarze</a>
        <a href="{{url_for("contact")}}">Kontakt</a>
        {% if user %}
            <a href="{{url_for("date")}}">Wizyta</a>
            <p style="color: red;">{{ user }}!</p>
            <a href="{{url_for("logout")}}">Wyloguj się</a>
        {% else %}
            <a href="{{url_for("login")}}" class="login-button">Zaloguj się</a>
        {% endif %}
    </nav>

<div id="panel">
    <form action="{{url_for("register")}}" method="POST">
        <label for="name">Podaj Imię:</label>
        <input type="text" id="name" name="name" required>
        <label for="surname">Podaj Nazwisko:</label>
        <input type="text" id="surname" name="surname" required> 
        <label for="sex">Wybierz Płeć:</label>
        <select id="sex" name="sex" required>
            <option value="Kobieta">Kobieta</option>
            <option value="Mężczyzna">Mężczyzna</option>
            <option value="Nie chcę podawać">Nie chcę podawać</option>
        </select>      
        <label for="pesel">Podaj PESEL:</label>
        <input type="text" id="pesel" name="pesel" maxlength="11" required>
        <label for="birthdate">Podaj Datę Urodzenia:</label>
        <input type="date" id="birthdate" name="birthdate" required><br>
        <label for="telephone">Podaj Telefon:</label>
        <input type="text" id="telephone" name="telephone" maxlength="9">
        <label for="email">Podaj Adres E-mail:</label>
        <input type="text" id="email" name="email">
        <label for="password">Podaj Hasło:</label>
        <input type="password" id="password" name="password" required>
        <label for="repeat_password">Powtórz Hasło:</label>
        <input type="password" id="repeat_password" name="repeat_password" required>
        <div id="lower">
            <input type="checkbox" name="check"><label class="check" for="checkbox">Wyrażam zgodę na przetwarzanie danych osobowych RODO</label>
            <input type="submit" value="Rejestracja">
            <br><p style="color: red;">{{myresult}}{{myresult2}}{{myresult3}}{{myresult4}}{{myresult5}}{{myresult6}}{{myresult7}}</p>
        </div>
    </form>
</div>

<footer>
    &copy; 2023 Medica BARP. Wszelkie prawa zastrzeżone.
</footer>

</body>
</html>
