<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/rejestracja_konta.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <title>Rejestracja Konta</title>
</head>
<body>
    

<div id="panel">
    <form action="{{url_for("register")}}" method="POST">
        <label for="name">Podaj Imię:</label>
        <input type="text" id="name" name="name">
        <label for="surname">Podaj Nazwisko:</label>
        <input type="text" id="surname" name="surname">
        <label for="pesel">Podaj Pesel:</label>
        <input type="text" id="pesel" name="pesel">
        <label for="password">Podaj Hasło:</label>
        <input type="password" id="password" name="password">
        <label for="repeat_password">Powtórz Hasło:</label>
        <input type="password" id="repeat_password" name="repeat_password">
        <div id="lower">
            <input type="checkbox"><label class="check" for="checkbox">Zapamiętaj mnie!</label><!--Zapamiętaj mnie nie jest potrzebne w przypadku rejestracji-->
            <input type="submit" value="Rejestracja">
        </div>
    </form>
</div>

</body>
</html>
